.card-container {

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    border-radius: 5px;

}

.card-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 20px;

}

.black {
    font-weight: 400;
}

.ligth {
    text-align: right;
    width: 70%;
    font-weight: 300;

}